<div class="content__title">
  <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton" style="width: 100%">
    <input type="text" [(ngModel)]="city" nz-input placeholder="input search text">
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" (click)="search()" nzSearch>Search</button>
  </ng-template>

</div>

<div>
  <nz-table #basicTable [nzData]="dataSet">
    <thead>
      <tr>
        <th>id</th>
        <th>change</th>
        <th>desc</th>
        <th>total</th>
        <th>last</th>
        <th>data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.sell_id}}</td>
        <td>{{(100*(data.total - data.last)/data.last).toFixed(2)}}%</td>
        <td>{{data.desc}}</td>
        <td>{{data.total}}</td>
        <td>{{data.last}}</td>
        <td>{{data.date}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>